/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    header {
        background-color: #ffffff;
        color: #000000;
        font-size: 18px;
    }

    .responsive {
        display: block;
        color: blue;
        font-size: 18px;
    }
}
